<!-- Services Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">最新动态</h2>
                <h3 class="section-subheading text-muted"><a href="/about/">点击这里</a>了解我们</h3>
                <!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
            </div>
        </div>
      
        <!--图片轮播开始-->
        <div class="imageRotation" style="float:left">	
	    <div class="imageBox">
		<a href="http://www.itxueyuan.org" target="_blank"><img src="{{ site.url }}/img/imgrotation/1.jpg" /></a>
		<a href="http://www.itxueyuan.org" target="_blank"><img src="{{ site.url }}/img/imgrotation/2.jpg" /></a>
		<a href="http://www.itxueyuan.org" target="_blank"><img src="{{ site.url }}/img/imgrotation/3.jpg" /></a>
		<a href="http://www.itxueyuan.org" target="_blank"><img src="{{ site.url }}/img/imgrotation/4.jpg" /></a>
        <a href="http://www.itxueyuan.org" target="_blank"><img src="{{ site.url }}/img/imgrotation/5.jpg" /></a>
	    </div>
	<div class="icoBox">
		<span class="active" rel="1">1</span>
		<span rel="2">2</span>
		<span rel="3">3</span>
		<span rel="4">4</span>
        <span rel="5">5</span>
	</div>
</div>
        <!--图片轮播结束-->
            <div class="imageRotation" style="float:right">
                <ul class="posts">
                    {% for post in site.categories.blog limit:7 %}
                    <li style="text-align: justify; font-size: 120%;">
                        <span>{{ post.date | date: "%b %-d, %Y" }}</span> &raquo;
                        <a href="{{ BASE_PATH }}{{ post.url }}">
                            {{ post.title }}</a>
                    </li>
                    {% endfor %}
                </ul>

                <p class="text-muted" style="text-align: right;"><a href="/blog/">更多消息...</a></p>
            </div>
        
        </div>
    </div>
</section>